annotated-types
anyio
av
certifi
charset-normalizer
click
coloredlogs
ctranslate2
fastapi
faster-whisper
filelock
flatbuffers
fsspec
h11
huggingface-hub
humanfriendly
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
onnxruntime
packaging
protobuf
pydantic
pydantic_core
PyYAML
requests
sniffio
starlette
sympy
tokenizers
torch
tqdm
typing_extensions
urllib3
uvicorn
nvidia-cublas-cu11
nvidia-cudnn-cu11